<%- include('../partials/adminHeader') %>

    <body>
        <div class="journalList-container">

            <div class="new-journal">
                <a href="/admin/journal" target="_blank">
                    <button class="btn btn-blue">New Journal</button>
                </a>
            </div>

            <h1 class="journals-heading">Journals</h1>
            <% for (let journal of journals) { %>
                <div class="journal-card-container">
                    <div class="journal-card-title">
                        <h3>
                            <%= journal.title %>
                        </h3>
                    </div>

                    <div class="journal-card-author">
                        <div>
                            <h4>
                                <span>Written by -</span>
                                <%= journal.author %>
                            </h4>
                        </div>
                        
                        <div class="journal-card-details">
                            <div>
                                <% const slug = slugify(journal.slug) %>
                                <a href="/journals/<%=slug%>/<%=journal._id%>">
                                    <button class="btn btn-blue">Read more</button>
                                </a>
                            </div>

                            <div>
                                <a href="/admin/journal/<%=journal._id%>">
                                    <button class="btn btn-orange">Edit</button>
                                </a>
                            </div>
    
                            <form method="POST" action="/admin/journal/<%=journal._id%>?_method=DELETE">
                                <button type="submit" class="btn btn-red">Delete</button>
                            </form>
                        </div>
                    </div>

                    <div class="journal-card-content">
                        <p>
                            <%= journal.slug %>
                        </p>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>