<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%=title%></title>
    
    <base href="/">
    <link rel="icon" href="assets/svg/favicon.svg" type="image/svg">
    <link rel="stylesheet" type="text/css" href="css/<%=css%>">
</head>

<body class="comments-container">
    <%- include('../flash') %>
    <div class="comments-list flex flex-column">
        <% for( let comment of comments) { %>
            <div class="comment-body flex flex-column">
                <% const date=dateFormat(comment.createdAt) %>
                <div class="comment-top flex">
                    <div class="comment-info">
                        <span><%= comment.username %></span>
                        <br>
                        <span id="date"><%= date %></span>
                    </div>
                </div>
                <div class="comment-content">
                    <p>
                        <%= comment.comment %>
                    </p>
                </div>
                <% if(!comment.isVerified) { %>
                    <form method="POST" action="/admin/comments/<%= comment._id %>?_method=PUT" class="form button-container">
                        <button type="submit">Publish</button>
                    </form>
                <% } %>

                <% if(comment.isVerified) { %>
                    <form method="POST" action="/admin/comments/<%= comment._id %>?_method=PATCH" class="form button-container">
                        <button type="submit">Move To Draft</button>
                    </form>
                <% } %>
                <form method="POST" action="/admin/comments/<%= comment._id %>?_method=DELETE" class="form button-container">
                    <button type="submit">Delete</button>
                </form>
            </div>
        <% } %>
    </div>
</body>