<div class="journalList-container" id="recent">
    <% for (let journal of journals) { %>
    <div class="journal-card-wrapper flex flex-column">
        <div class="journal-card-container">
            <div class="journal-card-title">
                <h3>
                    <%= journal.title %>
                </h3>
            </div>

            <div class="journal-card-author">
                <h4>
                    <span>Written by -</span>
                        <%= journal.author %> 
                </h4>
            </div>

            <div class="journal-card-content">
                <div class="journal-card-slug">
                    <p> 
                        <%= journal.slug %>
                    </p>
                </div>
                   
                <% const slug = slugify(journal.slug) %>
                <div class="journal-card-details">
                    <div>
                        <a href="/journals/<%=slug%>/<%=journal._id%>">
                            <button class="read-more">Read more</button>
                        </a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <% } %>      
</div>

<!-- <script src="js/fetchJournals.js" defer></script> -->
