<%- include('partials/header') %>

<body class="flex flex-column bg-primary">

    <%- include('partials/navbar') %>
<div class="journalList-container">
    <h1 class="journals-heading">Journals</h1>
    <% for (let journal of journals) { %>
    <div class="journal-card-container">
            <div class="journal-card-title">
                <h3>
                    <%= journal.title %>
                </h3>
            </div>

            <div class="journal-card-author">
                <h4>
                    <span>Written by -</span>
                        <%= journal.author %> 
                </h4>
            </div>

            <div class="journal-card-content">
                <p>
                    <%- journal.content %> 
                </p>
                <div class="journal-card-details flex">
                    <a href="/journals/<%=journal._id%>">
                        <button class="read-more">Read more</button>
                    </a>
                </div>
            </div>

            
        </div>
    <% } %>      
</div>


<%- include('partials/footer') %>