<%- include('partials/header') %>

<body class="flex flex-column bg-primary">

    <%- include('partials/navbar') %>
<h1>Journals</h1>
    <ul>
        <% for (let journal of journals) { %>
            <li>
                <%= journal.content %> 
                <b> -</b> 
                <%= journal.author %> 
                <br>
                <a href="/journals/<%=journal._id%>">
                    <button>Read more</button>
                </a>
            </li>
        <% } %>  
    </ul>

<%- include('partials/footer') %>