<%- include('partials/header') %>

<body class="flex flex-column bg-primary">

    <%- include('partials/navbar') %>
<div class="journalList-container">
    <div class="journal-volume-container flex">
        <div onclick="location.href=('/journals/1');">Volume 1</div>
        <div onclick="location.href=('/journals/2');">Volume 2</div>
        <div onclick="location.href=('/journals/3');">Volume 3</div>
    </div>
    <% for (let journal of journals) { %>
    <div class="journal-card-wrapper flex flex-column">
        <div class="journal-card-container">
            <div class="journal-card-title">
                <h3>
                    <%= journal.title %>
                </h3>
            </div>

            <div class="journal-card-author">
                <h4>
                    <span>Written by -</span>
                        <%= journal.author %> 
                </h4>
            </div>

            <div class="journal-card-content">
                <div class="journal-card-slug">
                    <p> 
                        <%= journal.slug %>
                    </p>
                </div>
                   
                <% const slug = slugify(journal.slug) %>
                <div class="journal-card-details">
                    <div>
                        <a href="/journals/<%=slug%>/<%=journal._id%>">
                            <button class="read-more">Read more</button>
                        </a>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <% } %>      
</div>

<script src="js/fetchJournals.js" defer></script>
<%- include('partials/footer') %>