<%- include('partials/header') %>

<body class="flex flex-column bg-primary c5">
    <%- include('flash') %> 
    <%- include('partials/navbar') %>
<div class="journal-container">
    <div class="journal-title">
        <h1><%= journal.title %></h1>
    </div>
    <div class="journal-author">
        <p>Written by <b>-</b></p>
        <h4>
            <%= journal.author %>
        </h4>
    </div>
    <div class="journal-content">
        <!-- <p> -->
            <%- journal.content %>
        <!-- </p> -->
    </div>
    <div class="journal-social-share-container">
        <div class="social-share-container">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this article from OIJPCR !" data-hashtags="OIJPCR" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="social-share-container">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this article from OIJPCR !" data-hashtags="OIJPCR" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="social-share-container">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this article from OIJPCR !" data-hashtags="OIJPCR" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

    <%- include('partials/comment') %>
    <script>
        function imageResponsive() {
            const images = document.querySelectorAll("img")
            const isMobile = screen.width < 768 ? true : false
            for(let img of images) {
                if(isMobile) {
                    img.style.width = "100%";
                }
                img.style.maxWidth = "100%"
            }
        }
        document.onLoad = imageResponsive();
        // $(document).ready(function(){
        //     $("img").addClass("img-responsive");
        //     $("img").css("max-width", "100%");
        // });
    </script>
<%- include('partials/footer') %>

