<%- include('partials/header') %>

<body class="flex flex-column bg-primary c5">

    <%- include('partials/navbar') %>

<div class="journal-container">
    <div class="journal-title">
        <h1><%= journal.title %></h1>
    </div>
    <div class="journal-author">
        <p>Written by <b>-</b></p>
        <h4>
            <%= journal.author %>
        </h4>
    </div>
    <div class="journal-content">
        <p>
            <%- journal.content %>
        </p>
    </div>
</div>

    <%- include('partials/comment') %>

<%- include('partials/footer') %>

